*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
.externalNativeBuild
app/app-prod-release.apk
app/app-dev-debug.apk
gradle.properties

*.dex
*.class
bin/
gen/
.navigation
output.json
obj/
.orig
.BASE
.LOCAL
.REMOTE



